.footer {
    width: 100vw;
    height: 4rem;
    background: #385745;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
}